.element-item{
    cursor: pointer;
}
.item-description{
    display:none;
    background-color: #faebd7;
    padding: 0.2em 0.8em;
}
hr{
    margin: 0;
}
.item-description.show{
    display:block;
}
